@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav align-items-center mb-0">
        <li class="nav-item">
            <span class="nav-link text-info-emphasis">@User.GetName()</span>
        </li>

        @if(User.IsInRole(SD.UserRole))
        {
            <li class="nav-item">
                <a class="nav-link text-white @Html.IsActive("Channel","Index")" asp-controller="Channel" asp-action="Index">
                    <i class="bi bi-person-fill me-1"></i>
                    My Channel
                </a>
            </li>
        }
    )

        <li class="nav-item">
            <a class="btn btn-secondary d-flex align-items-center ms-2" asp-controller="Account" asp-action="LogOut">
                <i class="bi bi-door-closed-fill me-1"></i>
                Log Out
            </a>
        </li>
    </ul>
}
else
{
    <div class="d-flex align-items-center me-1">
        <a class="btn btn-secondary me-2 @Html.IsActive("Account", "Login")" asp-controller="Account" asp-action="Login">
            <i class="bi bi-door-open me-1"></i>
            Login
        </a>
        <a class="btn btn-secondary @Html.IsActive("Account", "Register")" asp-controller="Account" asp-action="Register">
            <i class="bi bi-person-plus-fill me-1"></i>
            Register
        </a>
    </div>
}
