@model ClipShare.ViewModels.Video.VideoAddEdit_Vm

<div class="card border-secondary mb-3">
    <div class="card-header bg-light">
        <span class="text-dark h4">
            @(Model.Id > 0 ? "Edit" : "Create") Video
        </span>
    </div>

    <div class="card-body">
        <form asp-action="CreateEditVideo" enctype="multipart/form-data" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" id="videoId" asp-for="Id" />

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="CategoryId" class="form-label"></label>
                        <select asp-for="CategoryId" class="form-select" asp-items="Model.CategoryDropDown">
                            <option disabled>Select Here</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <div class="card mb-2 rounded bg-secondary" id="previewImage" aria-label="Image preview"></div>
                        <label asp-for="ImageUpload" class="form-label"></label>
                        <input asp-for="ImageUpload" id="imageUpload" type="file" class="form-control" accept="@Model.ImageContentTypes" />
                        <span asp-validation-for="ImageUpload" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="VideoUpload" class="form-label"></label>
                        <input asp-for="VideoUpload" id="videoUpload" type="file" class="form-control" accept="@Model.VideoContentTypes" />
                        <span asp-validation-for="VideoUpload" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                <button class="btn btn-success" type="submit">Save</button>
                <a class="btn btn-warning" asp-controller="Channel" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
     <script>
        $('#imageUpload').on('change', function(){
            if(this.files){
                $('#previewImage').empty();
                var reader = new FileReader();

                reader.onload = function(event){
                    $('#previewImage').append(`<img src="${event.target.result}" class="card-img-top rounded preview-image"/>`);
                }

              
            }
        });
    </script>
}