@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center pt-2">
        <h2>ClipShare is your go-to platform for sharing and discovering amazing video clips.</h2>
    </div>
}
else
{
    <div class="d-lg-flex">
        <!-- Sidebar for larger screens -->
        <nav class="p-2 text-bg-dark rounded d-none d-lg-block" style="width: 250px; min-height: 700px;">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="~/Home/Index" class="nav-link text-white">
                        <i class="bi bi-house-door me-2"></i>
                        <span class="nav-text">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Subscriptions/Index" class="nav-link text-white">
                        <i class="bi bi-youtube me-2"></i>
                        <span class="nav-text">Subscriptions</span>
                    </a>
                </li>
                <hr/>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-clock-history me-2"></i>
                        <span class="nav-text">History</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-hand-thumbs-up me-2"></i>
                        <span class="nav-text">Likes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-hand-thumbs-down me-2"></i>
                        <span class="nav-text">Dislikes</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Navbar for smaller screen-->
        <div class="d-lg-none mb-2">
            <div class="p-2 text-bg-dark rounded d-flex justify-content-between" style="width: 100%">
                <a href="~/Home/Index" class="btn btn-dark">
                    <i class="bi bi-house-door me-2"></i>
                </a>
                <a href="~/Subscriptions/Index" class="btn btn-dark">
                    <i class="bi bi-youtube me-2"></i>
                    <span class="nav-text">Subscriptions</span>
                </a>
                <a href="#" class="btn btn-dark">
                    <i class="bi bi-clock-history me-2"></i>
                    <span class="nav-text">History</span>
                </a>
                <a href="#" class="btn btn-dark">
                    <i class="bi bi-hand-thumbs-up me-2"></i>
                    <span class="nav-text">Likes</span>
                </a>
                <a href="#" class="btn btn-dark">
                    <i class="bi bi-hand-thumbs-down me-2"></i>
                    <span class="nav-text">Dislikes</span>
                </a>
            </div>
        </div>
    </div>
}
